@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* position: relative; */
  height: 100vh;
  background-image: radial-gradient(
    circle 382px at 50% 50.2%,
    rgba(73, 76, 212, 1) 0.1%,
    rgba(3, 1, 50, 1) 100.2%
  );
  overflow: hidden;
}

@keyframes slide-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes zoom-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}